name: Publish Cargo Crate

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

env:
  CARGO_TERM_COLOR: always

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Install cargo-smart-release
        run: cargo install cargo-smart-release

      - name: Build and Test
        working-directory: toolchain
        run: cargo build --all && cargo test --all

      - name: Publish with Smart Release
        working-directory: toolchain
        run: cargo smart-release --no-changelog-github-release --update-crates-index prompt-graph-core prompt-graph-exec chidori
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
